<fieldset>  
        <%= f.label :code %>
        <%= f.text_field :code, html: {id: "code-field"} %>
        <%= f.label :name %>
        <%= f.autocomplete_field :menu_name, autocomplete_menu_name_orders_path %>
        <div id="name-search-results"></div>
        <%= f.label :quantity %>  
        <%= f.number_field :quantity %>
        <%= f.submit "Add Item" %>
</fieldset>